.account {
  .title-page {
    font-size: 24px;
  }
  .account-content {
    display: flex;
    .account-img {
      width: 200px;
      img {
        border-radius: 50%;
      }
    }
    .account-info {
      font-size: 18px;
      margin-left: 10px;
      .account-hi {
        font-size: 24px;
      }
    }
  }
}
