.product-detail {
  background-image: #fff;
  h2 {
    padding: 0 10px;
  }
  .detail-info-title {
    display: flex;
    padding: 10px;
    background-color: #fff;
    .detail-info {
      border: 2px solid lightgray;
    }
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    .detail-title {
      margin-left: 50px;
      font-size: 18px;
      .detail-name {
        font-size: 26px;
      }
      .detail-price {
        border: 2px solid lightgray;
        background-color: lightgray;
        display: block;
      }
    }
  }
}
