.page-main {
  min-height: calc(100vh - 64px);
  padding: 0;
  margin: 0;
  .ant-layout.ant-layout-has-sider {
    min-height: inherit !important;
  }
}
.ant-menu-inline .ant-menu-item.ant-menu-item-selected,
.ant-menu-inline .ant-menu-item {
  margin-top: 0 !important;
}
