.ant-table-cell {
  img {
    width: 120px;
    border-radius: 50%;
  }
}

.management {
  display: flex;
  justify-content: space-between;
  .search-input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    .ant-input {
      height: 30px;
    }
  }
}
.btn-create {
  display: flex;
  background: none;
  float: right;
  border: none;
  img {
    width: 24px;
  }
  h6 {
    font-size: 14px;
  }
}
.ant-space-item {
  width: 36px;
  .btn-edit {
    border: none;
    background-color: #fff;
    border-radius: 50%;
  }
  .btn-delete {
    border: none;
    background-color: #fff;
    border-radius: 50%;
  }
  .btn-detail {
    border: none;
    background-color: #fff;
    border-radius: 50%;
  }
}
